<h2>different types of directives</h2>

<p>ngClass: to set the css class dynamically on an element</p>

<p [ngClass] = "'color'">with string</p>
<p [ngClass] = "['color','font']">with array</p>
<p [ngClass] = "{'color': value}">with object</p>

<h3>ngStyle : dynamically set inline styles on elements.</h3>

<p [ngStyle] = "{'color':'blue'}">basic usage</p>
<p [ngStyle] = "{'color':textcolor}">using variables</p>

<p>Pipes</p>
in number pipe - there will be three parts. minimum interger digits, 2-2 -> minimum fraction and max fractions digit numbers to displayed.

<p>{{123.6708776 | number :'4.2-2'}}</p>
<p>{{date | date :'fullDate' }}</p>

<p>{{'hello' | uppercase }}</p>
<p>{{'hi' | lowercase}}</p>
<p>{{number | percent :'1.2-2'}}</p>
<p>{{arr | slice : 1:2}}</p>
<p>{{obj | json }}</p>







